/* ========== Common style ========== */
.duration-block {
    border-radius: 10px;
    position: relative;
}

.progress-bar {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 0%;
    z-index: 0;
}

.current-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 8px;
    box-sizing: border-box;
}

.duration-content {
    margin: 5px 5px 5px 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto, Arial, sans-serif;
    line-height: 20px;
    display: block;
    text-align: center;
    z-index: 2;
}

.played-content {
    margin: 0px 5px 5px 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto, Arial, sans-serif;
    line-height: 18px;
    z-index: 2;
}

/* ========== Dark mode color ========== */
.duration-block[dark] {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.progress-bar[dark] {
    background-color: rgba(255, 255, 255, 0.1);
}

.duration-content[dark] {
    color: rgba(241, 241, 241, 1);
}

.played-content[dark] {
    color: rgba(170, 170, 170, 1);
}

/* ========== Light mode color ========== */
.duration-block[light] {
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.progress-bar[light] {
    background-color: rgba(0, 0, 0, 0.08);
}

.duration-content[light] {
    color: rgba(15, 15, 15, 1);
}

.played-content[light] {
    color: rgba(96, 96, 96, 1);
}


